<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="copyToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <img src="~/img/icons/status-completed.png" width="30" class="rounded me-2" alt="...">
            <strong class="me-auto">ToDo application</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            ToDo list copied to clipboard.
        </div>
    </div>
</div>