@{
    Layout = "_ToDoListsLayout";
}

@model ToDoListCreationViewModel

@{
    Model.ToDoItemToAdd = new ToDoEntry { ToDoList = Model.ToDoList };
}

<div class="row m-1 p-1">
    <div id="todolistCreation" class="col-3">

        <div class="nav flex-column nav-pills" id="v-pills-tab" role="textbox" aria-orientation="vertical">
            <span>Here some useful text</span>
        </div>
        <br />
    </div>
    <div class="col-9">
        <div class="mb-3">
            <div class="col-3">


            </div>
        </div>
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <h3 for="inputToDoListTitle" class="form-label">ToDo: @Model.ToDoList.MainTitle</h3>
            </div>
            <div class="col-auto">
                <input type="checkbox" class="form-check-input" id="visiblityCheck" checked="checked">
                <label class="form-check-label" for="visiblityCheck">Make visible on general list</label>
            </div>
        </div>
        <hr class="hr" />
        <div class="mb-3 form-check">
            <partial name="PartialViews/_ToDoItemsInfo" model="@Model.ToDoList.ToDoEntries" />
        </div>
        <hr class="hr" />
        <partial name="PartialViews/_ToDoEntryCreateForm" model="@Model.ToDoItemToAdd" />
        <hr class="hr" />
        <button type="button" class="btn btn-primary">Save</button>
        <a class="btn btn-secondary" href="Index">Cancel</a>
    </div>
</div>


