@model ToDoItemsViewModel

<partial name="PartialViews/_ToDoItemsInfo" model="@Model.ToDoItems" />

@if (Model.PagingInfo.TotalPages > 1)
{
    <nav page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
         page-class="page-link" page-class-normal="page-item" page-class-selected="page-item active"
         page-url-category="@Model.CurrentCategory" aria-label="...">
    </nav>
}
