@model ToDoEntry

@{
    var ordinalNumbersList = new List<int> { 1 };

    if (Model.ToDoList.ToDoEntries.Count() != 0)
    {
        ordinalNumbersList = Enumerable.Range(1, Model.ToDoList.ToDoEntries.Count() + 1).ToList();
    }
}

<form method="post" asp-controller="ToDoLists" asp-action="AddToDoItem">
    <input type="hidden" asp-for="ToDoList.Id" />
    <div class="row g-3 align-items-end">
        <div class="col-auto">
            <label for="ordinalNumberList" class="form-label">O/n</label>
            <select id="ordinalNumberList" asp-for="OrdinalNumber" class="form-control form-select-sm" aria-label="Item order">
                @foreach (var option in ordinalNumbersList)
                {
                    if (option == ordinalNumbersList.Last())
                    {
                        <option value="@option" selected>@option</option>
                    }
                    else
                    {
                        <option value="@option">@option</option>
                    }
                }
            </select>
        </div>
        <div class="col-auto">
            <label for="inputTitle" class="form-label">Title</label>
            <input id="inputTitle" asp-for="Title" type="text" class="form-control form-select-sm" aria-describedby="titleHelp">
        </div>
        <div class="col-auto">
            <label for="inputDueDate" class="form-label">Due date</label>
            <input id="inputDueDate" asp-for="DueDate" type="date" class="form-control form-select-sm" aria-describedby="dueDateHelp">
        </div>
        <div class="col-auto">
            <label for="toDoStatusList" class="form-label">Status</label>
            <select id="toDoStatusList" asp-for="Status" asp-items="Html.GetEnumSelectList<ToDoStatus>()" class="form-control form-select-sm" aria-label="ToDoStatuses">
            </select>
        </div>
        <div class="col-md-4">
            <label for="inputDescription" class="form-label">Description</label>
            <input id="inputDescription" asp-for="Description" type="text" class="form-control form-select-sm" aria-describedby="DescHelp">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary form-control btn-sm">+</button>
        </div>
    </div>
</form>