@model IEnumerable<string>

<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    @foreach (var dueDate in Model)
    {
        <a class="nav-link@(dueDate == ViewBag.SelectedDueDate ? " active": "")" id="v-pills-@dueDate-tab" 
           data-toggle="pill" asp-action="Index" asp-controller="Home" role="tab" 
           aria-controls="v-pills-@dueDate" asp-route-duedate="@dueDate" asp-route-page="1"
           aria-selected="@(dueDate == ViewBag.SelectedDueDate ? true : false)">
            @dueDate</a>
    }
</div>